<form action="/question" method="post">
<div class="col-7" id="question_div">
        <div class="question_type_area">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

           <div class="ques-icon-div"><i class="fa-solid fa-image" id="img-icon"></i>
           <input type="file" id="my_file" style="display: none;" />
           </div>
           <div class="ques-textarea-div"><textarea id="text-area-question"name="question" placeholder="Type your question here...."></textarea></div>
        </div>
        <div class="answer-type-area">
        <div class="disp_opts">
          <div class="quiz_row">

           <div class="disp opt1"><input type="text" name="option1"  placeholder="Type answer here ..."></div>
          </div>
        </div>

        </div>
    <div class="btn-ques-div">
      <button id="cancel-btn">Cancel</button>
      <button type="submit" id="submit-btn">Submit</button></form>
    </div>
</div>
</div>
</div>


