
<div class="disp quiz">
        <div class="disp qtns">
        <div class="disp_qtn"> <%=record.question%></div>
</div>
<div class="disp_opts">
<div class="disp_row">

        <div class="disp opt1"><input type="radio" name="answer"> <%=record.option1%></div>
        <div class="disp opt2"><input type="radio" name="answer"><%=record.option2%></div>
</div>
 <%# <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </u> %>


