<div class="display_gamepin">
   <div class="display-content">
    GAME PIN : <%= $game.random_no%>
   </div>
    <a href="/play/<%=$game.assessments_id%>"><button type="submit"class="start-btn">Start</button></a>
    <%players = Player.where(random_no: $game.random_no)%>
   <%if players%>
   <div class="display-players">
      <p class="count"> <em class="fa-solid fa-user" id="player-icon"></em><%=players.count%></p>
      <div class="players-name">
      <%players.each do |t|%>
      <%user= User.find(t.users_id)%>
      <p><%=user.name%></p>
       <%end%>
      </div>
    </div>
    <%else%>
    <div></div>
    <%end%>
</div>
