<div class="assessment-game">
<%= render partial:"/home/header"%>
</div>
<div class="sidebar">
<div><i class="fa-solid fa-earth-americas" id="sidebar-icon"></i><a href="/assessments/explore">Explore</a></div>
<div><i class="fa-solid fa-book" id="sidebar-icon"></i><a href="">Library</a></div>
<div><i class="fa-solid fa-chart-line" id="sidebar-icon"></i><a href="">Dashboard</a></div>
</div>
<div class="explore">
<%= image_tag("create.png", alt: "like" , id:"create") %>

</div>
