<%= render partial:"/home/header"%>
<div class="sidebar">
<div><a href=""><i class="fas fa-telescope" id="sidebar-icon"></i>Explore</a></div>
<div><a href=""><i class="fas fa-book-copy" id="sidebar-icon"></i>Library</a></div>
<div><a href=""><i class="fa-solid fa-chart-line" id="sidebar-icon"></i>Dashboard</a></div>
</div>

