<div class="signin" id="up">
    <form class="form-box px-3" action="/save" method="post" onsubmit="check()">

        <div class="form-input">
            <span><em class="fa-solid fa-user"></em></span>
            <input type="text" name="users[name]" placeholder="Username" tabindex="10" required>
        </div>
        <div class="form-input">
            <span><em class="fa fa-envelope-o"></em></span>
            <input type="email" name="users[email]" placeholder="Mail Address" tabindex="10" required>
        </div>
        <div class="form-input">
            <span><em class="fa-solid fa-mobile"></em></span>
            <input type="tel" name="users[phone_no]" placeholder="Phone number" tabindex="10" required>
        </div>
        <div class="form-input">
            <span><em class="fa-solid fa-key"></em></span>
            <input type="password" name="users[password]" placeholder="Create Password" required>
        </div>
        <div class="form-input">
            <span><em class="fa-solid fa-key"></em></span>
            <input type="password" name="" placeholder="Confirm Password" required>
        </div>
        <div class="mb-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cb1" name="">
                <label class="custom-control-label" for="cb1">Show password</label>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-block ">
                CREATE ACCOUNT
            </button>
        </div>
        <div class="text-right">
            <a href="forgot_pwd" class="forget-link" style="color:#ff574e">
                Forgot Password?
            </a>
        </div>
        <div class="mb-2" style="color:black">
            Always have an account
            <a href="login" class="register-link" style="color:#ff574e">
Login
            </a>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        </div>
    </form>
    <div>
        <%=image_tag( "signup_img.webp", alt: "like", class:"signup_image" ) %>
    </div>
</div>
