<div>
 <%=image_tag( "enroll.png", alt: "like" ,class: "reg-bg") %>
 <div class="form">
<h1>Create new account.</h1>
            <h2>Already a member
                <a href='/users/login' style="color:red;text-decoration:none;">Login</a>
            </h2>
<form>
<input type="password " name="users[password] " id="pwd " class="control " /><label class="form-label " style="color:red;" for="pwd ">Password</label>
<input type="password " name="users[password] " id="pwd " class="control " /><label class="form-label " style="color:red;" for="pwd ">Password</label>
<input type="password " name="users[password] " id="pwd " class="control " /><label class="form-label " style="color:red;" for="pwd ">Password</label>
<input type="password " name="users[password] " id="pwd " class="control " /><label class="form-label " style="color:red;"for="pwd ">Password</label>
<input type="password " name="users[password] " id="pwd " class="control " /><label class="form-label " style="color:red;" for="pwd ">Password</label>
</form>
 </div>
</div>



<style>


</style>
