<div id="quiz">
<div contenteditable="true" class="question">Type question here</div>
<div contenteditable="true"class="option-1"><input type="checkbox">Answer1</div>
<div contenteditable="true"class="option-2"><input type="checkbox">Answer2</div>
<div contenteditable="true"class="option-3"><input type="checkbox">Answer3</div>
<div contenteditable="true"class="option-4"><input type="checkbox">Answer4</div><br>
<div id="add"></div>
<button id="btn"><a href='/home/load'>Add</a></button>
</div><br>
