<div class="assessment">
<form action="/assessment" method="post">
   <input type="text" name="name" placeholder="Assessment name ..." required><br>
   <button type="submit" class="submit">Next</button>
   <input type="hidden" name="authenticity_token" value=" form_authenticity_token ">
</form>
</div>
<%=image_tag( "enroll.png", alt: "like" ,class: "reg-bg") %>
