
<% if session[:id]%>
<% logged_user = User.find(session[:id])%>


<nav class="navbar navbar-expand-lg navbar-light " aria-labelledby="open">
<%= image_tag("pf_logo.png", alt: "like" ,  class: "pf_logo") %>
  <div class="container-fluid">


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item home">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item home">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item home">
          <a class="nav-link" href="/quiz">Quiz</a>
        </li>
        <li class="nav-item home">
          <a class="nav-link" href="#">Review</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>


    <div class="d-flex align-items-center">
    <!-- Avatar -->
     <div class="dropdown" >
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
        <em class="fa-solid fa-user" id="user-icon"></em>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="/home/profile"><%= logged_user["name"]%></a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">Logout</a>
          </li>

        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<%else %>

<nav class="navbar navbar-expand-lg navbar-light " aria-labelledby="open">
<%= image_tag("pf_logo.png", alt: "like" ,  class: "pf_logo") %>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login"><em class="fa-solid fa-right-to-bracket" id="navbar-login"></em></a>
        </li>
    </div>

</nav>
<%end%>

<script>
function displayUser(){
var user = document.getElementById("user-register");
user.classList.toggle("user-register")
console.log("ace");
}
function redirect_login() {
  window.location.href='/users/login';
}
</script>
