<%= render partial:"header"%>
<div class="about">
<div class="about_heading">
Review is essential to evaluation <br> which is essential to progress
</div>
</div>
<%= image_tag("about.webp", alt: "like" ,class: "bgimg") %>
