<%= render partial: "header"%>
<div class="contact">
<div class="contact_heading">
 <br> Get in touch
</div>
<div class="review">
<div class="contact_form">
    <form class="inline">
        <div class="input-icons">
            <em class="fa fa-user icon"></em>
            <input class="input-field" type="text" placeholder="name"><br>
            <em class="fa fa-envelope icon"></em>
            <input class="input-field" type="email" placeholder="abc1@fwsa.in"><br>
            <em class="fa fa-messages icon" style="color:white"></em>
            <%# <i class="fa-solid fa-messages" style="color:red"></i> %>
            <textarea class="input-field" type="text" style="height: 200px; width: 400px" placeholder="Type message here . . ."></textarea><br>
        </div>
  </form>
</div>
<div class="review">
  <%= image_tag("call_and_receive.png", alt: "like" , id:"call" , height: "500" ) %>

</div>
</div>

<%# Review is essential to evaluation <br> which is essential to progress %>

</div>
<%= image_tag("contact1.webp", alt: "like" ,class: "contact_bg") %>
