<div class="pf_homepage">
<%= render partial:"header"%>
<div class="pf_content">
<h1 class="home_heading">PUZZLE FEST</h1>
<p class="home_subcontent">A FULLY ONLINE BASED ASSESSMENT APPLICATION<br>
TO ASSEST YOURSELF
</p>
<button type="button" class="btn btn-primary me-3" id="home_login" onclick="redirect_login()">GET STARTED</button>
</div>
</div>

