<%= render partial: "header"%>
<div class="review_form">
<form class="inline">
        <div class="input-icons">
            <em class="fa fa-user icon"></em>
            <input class="input-field" type="text" placeholder="name"><br>
            <em class="fa fa-envelope icon"></em>
            <input class="input-field" type="email" placeholder="abc1@fwsa.in"><br>
            <em class="fa fa-messages icon" style="color:white"></em>
          <em class="fa-solid fa-messages" style="color:red"></em>
            <textarea class="input-field" type="text" style="height: 200px; width: 400px" placeholder="Type message here . . ."></textarea><br>
        </div>
  </form>
</div>
