.bgimg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    filter: brightness(40%);
}

.about_heading {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-top: 350px;
    font-size: 60px;
}