.contact_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    filter: brightness(30%);
}

.contact_heading {
    text-align: left;
    color: white;
    font-weight: bolder;
    margin-top: 100px;
    font-size: 60px;
}

.contact {
    display: inline-block;
    margin-left: 200px;
}

.contact_form input {
    border-radius: 20px;
    background-color: #909091;
    color: black;
    height: 50px;
    width: 400px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 20px;
    background-color: #909091;
    color: black;
}

.inline {
    max-width: 400px;
    margin: auto;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
    color: black !important;
    margin-top: 5px;
}

.input-field {
    // width: 700px;
    padding: 10px;
    text-align: left;
    margin-bottom: 3px;
    text-indent: 30px;
}

.fa-messages {
    color: white;
}

.review {
    display: flex;
}

#call {
    margin-left: 400px;
    margin-top: -100px;
}

::placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

// review page
.review_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    filter: brightness(50%);
}

.review_form {
    margin-left: 500px;
    margin-top: 200px;
}

.review_form input {
    border-radius: 20px;
    background-color: #909091;
    color: black;
    height: 50px;
    width: 400px;
    margin-bottom: 10px;
}