    .question {
        text-align: center;
        margin-top: 5%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100px;
        width: 1000px;
        margin-left: 15%;
        text-indent: 30px;
        outline: none;
    }

    .create_game {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: rgb(255, 255, 255);
        padding: 20px 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        width: 1400px;
        height: 800px;
        margin-left: 400px;
        margin-top: 5%;
        // background-image: url('green_board.png');
        // background-repeat: no-repeat;
        // background-position: fixed;
        // background-size: 100% 100%;
    }

    .qtn {
        border-radius: 10px;
        background-color: white;
    }

    .row1 {
        display: flex;
    }

    .row1 div {
        // margin-left: 24%;
        margin-bottom: 5%;
        margin-top: 5%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100px;
        width: 600px;
        margin-left: 5%;
        display: flex;
        text-align: center;
    }

    .row2 {
        display: flex;
    }

    .row2 div {
        margin-bottom: 10%;
        margin-top: 5%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100px;
        width: 600px;
        margin-left: 5%;
        display: flex;
        text-align: center;
    }

    .question input[type=text] {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        height: 100px;
        width: 1200px;
    }

    .row1 input[type=text] {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        height: 100px;
        width: 600px;
        text-indent: 30px;
    }

    .row2 input[type=text] {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        height: 100px;
        width: 600px;
        text-indent: 30px;
    }

    input:hover {
        border: none;
    }

    input[type=radio] {
        width: 50px;
        margin-left: 20px;
    }

    .list-row1 {
        display: flex;
    }

    .list-row1 .option {
        margin-bottom: 5%;
        margin-top: 5%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100px;
        width: 600px;
        margin-left: 5%;
        display: flex;
        text-align: center;
    }

    .choice {
        width: 450px;
        text-align: left;
        margin-left: 30px;
        border: none;
        outline: none;
    }

    .list-row2 {
        display: flex;
    }

    .list-row2 .option {
        margin-bottom: 5%;
        margin-top: 5%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100px;
        width: 600px;
        margin-left: 10%;
        text-indent: 30px;
    }

    .overflow {
        width: 350px;
        background-color: rgb(206, 206, 225);
        padding: 10px 10px;
        height: auto;
    }

    .add {
        height: 20px;
        width: 40px;
    }

    .quiz .col {
        display: flex;
    }

    .question_image {
        height: 200px;
        width: 300px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .creategame {
        margin-top: 10%;
    }

    .creategame div {
        display: inline-block;
        margin-left: 5%;
    }

    .quiz_bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -10;
        filter: brightness(30%);
    }

    .img_game {
        height: 500px;
        width: 500px;
        border-radius: 50%;
    }

    .creategame div h2 {
        margin-left: 27%;
        font-weight: bold;
    }

    .game span {
        position: absolute;
        top: 10px;
        padding-left: 15px;
        color: #0c0101a1;
    }

    .assessment {
        height: 70%;
        width: 70%;
        margin-top: 10%;
        margin-left: 15%;
        background-color: rgb(227, 255, 223);
        padding: 30px 30px;
        border-radius: 20px;
    }

    .assessment input {
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 20px 20px;
        width: 50%;
        background-color:#88c681;
        margin-bottom: 10px;
        // background-color: #21502f;
        color: white !important;
        font-weight: bold;
        font-size: 20px;
    }
    .assessment textarea {
        background-color:#88c681;
        border: none;
        height: 100px;
        width: 600px;
        color: black !important;
        resize:none;
    }
    .assessment .upload {
        background-color: #88c681;
        border: none;
        outline:none;
        border-radius:  20px;
        height: 20%;
        width: 30%;
    }
    .assessment .upload #icon {
        font-size: 40px;
        padding-left: 43%;
        padding-top: 20%
    }

    .assessment .submit {
        border: none;
        outline: none;
        border-radius: 20px;
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        padding: 10px 10px;
        margin-left: 70px;
    }

    .assessment_title {
        margin-left: -10%;
        margin-top: -30%;
        color: black !important;
    }

    .assessment_title h1 {
        color: black !important;
    }
    .assessment .submit {
        width: 10%;
        height: 100%;
        border-radius: 5px;
        border: none;
        background-color: #21502f;
        color: white;
        font-size: 20px;
        margin-top: 20px;
    }

    .assessment .submit:hover {
        background-color: white;
        color: #21502f;
        border: 1px solid #21502f;
    }
   .assessment .file-input::-webkit-file-upload-button {
        visibility: hidden;
      }
     .assessment .file-input::before {
        content: 'Upload';
        display: inline-block;
        border: 1px solid  #21502f;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;

        text-shadow: 1px 1px #fff;
        color: transparent;

     }
  .assessment .file-input {
    width: 50%;
    margin-left: 30%;

  }

