.card {
    height: 700px;
    width: 800px;
    margin-left: -240px;
}
.edit_profile input {
   border:none !important;
   outline:none !important;
}
.edit_profile .form-input {
    display:flex;
    color:black !important;
}
.edit_profile div {
    width: 400px;
}
