// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reports {

    display: flex;
}
.reports_page .chart {
    height: 500px;
    width: 100%;
    padding-top: 5%;
    padding-left: 15%;
}

.reports_page{
    margin-top: 5%;
}
.dashboard {
    // margin-top: 20%;
    background: green;
}
.reports_table {
    width: 70%;
    margin-top: 1%;
    margin-left: 25%;

}

.reports_table th{
    font-size: 25px;
    // font-family: 'DynaPuff', cursive;
    color:rgb(27, 63, 27);
}
.reports_table tbody td{
    font-size: 20px;
    // font-family: 'DynaPuff', cursive;
    color:rgb(43, 92, 43);
}
.reports_table tbody a{
    font-size: 25px;
    // font-family: 'DynaPuff', cursive;
    color:rgb(43, 92, 43);
}
