// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reports {

    display: flex;
}
.reports_page .charts {
    height: 400px;
    width: 600px;
    margin-top: 5%;
}
.reports_page{
    margin-top: 5%;
}
.dashboard {
    // margin-top: 20%;
    background: green;
}
.reports_table {
    width: 60%;
    margin-top: 5%;
    margin-left: 25%;

}

